header.app-header {
    display: flex;
    font-family: flower;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
    background-color: lighten($blue, 30%);
    .logo {
        width: rem(220px);
        padding: rem(20px);
        object-fit: contain;
    }
    nav {
        display: flex;
        height: 100%;
        align-items: center;
        a {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding: 0 rem(20px);
            font-size: rem(35px);
            text-decoration: none;
            color: lighten($yellow, 20%);
            font-weight: normal;
            width: rem(180px);
            
            transition: color 0.3s ease-in;
            &:hover {
                text-decoration: underline;
                color: $red;
            }
        }
        a:not(:nth-last-child(1)) {
            border-left: 2px solid $yellow;
        }
        a:nth-child(3), a:nth-child(4) {
            border-right: 2px solid $yellow;
        }

    }
}